/* Carlos Garriga Suárez UO276903*/
/*Especificidad (0,0,1)*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Especificidad (0,0,1)*/
@media (max-width: 1070px) {
    header {
        flex-direction: column; 
    }
}

/*Especificidad (0,0,1) (0,0,2)*/
@media (max-width: 770px) {
    nav {
        display: flex;
        padding: 1em;
        flex-direction: column; 
    }

    nav a {
        text-align: center;
    }
}