/* Carlos Garriga Suárez UO276903*/
/*Especificidad (0,0,1)*/
body{
    font-family: Tahoma, sans-serif;
    color: #000000;
    background-color: #ffffff;
}

/*Especificidad (0,0,1) (0,0,1)*/
h2, h3 {
    font-family: Arial, sans-serif;
    background-color: #B68D40;
    color: #ffffff;
    padding: 0.5em;
}

/*Especificidad (0,0,1)*/
header {
    color: #ffffff;
    background-color: #122620;
    padding: 1em;
}

/*Especificidad (0,0,1)*/
nav {
    padding: 1em;
}

/*Especificidad (0,0,2)*/
nav a {
    /*ADVERTENCIA: El color de fondo lo hereda del 
    selector body > section > nav o del selector header dependiendo de que menú de navegación se trate */
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/*Especificidad (0,1,2)*/
nav a:hover{
    /*ADVERTENCIA: El color de primer plano lo hereda del selector nav a*/
    background-color: #1c3b32;
}

/*Especificidad (0,0,1)*/
a {
    /*ADVERTENCIA: El color de fondo está heredado de body*/
    color: #000000;
}

/*Especificidad (0,1,1)*/
a:hover{
    /*ADVERTENCIA: El color de primer plano está heredado por el selector a*/
    background-color: #e8e8e8;
}

/*Especificidad (0,0,1)*/
ol {
    list-style-type: upper-roman;
}

/*Especificidad (0,0,1)*/
dt {
  font-weight: bold;
}

/*Especificidad (0,0,1)*/
dd {
  margin-bottom: 1.5em;
}

/*Especificidad (0,0,1)*/
ul {
    list-style-type: square;
}

/*Especificidad (0,0,2)*/
ul li {
    margin: 1em;
}

/*Especificidad (0,1,3)*/
h3 + ul li:nth-child(3) {
    /*ADVERTENCIA: El color de fondo lo hereda del selector body*/
    color: #c90000;
}

/*Especificidad (0,0,4)*/
ol li ul li {
    font-style: italic;
}

/*Especificidad (0,0,1) (0,0,1)*/
video, img {
    width: 70%;
    height: auto;
}

/*Especificidad (0,0,1)*/
audio {
    width: 70%;
}

/*Especificidad (0,0,1)*/
table {
    border-collapse: collapse;
    border: 0.1em solid #000000;
}

/*Especificidad (0,0,1) (0,0,1) (0,0,1)*/
th, td, tr {
    padding: 0.3em;
    border: 0.1em solid #000000;
    text-align: center;
}

/*Especificidad (0,0,3)*/
body > section > nav {
    /*ADVERTENCIA: El color de primer plano lo hereda del selector body*/
    background-color: #0e5d00;
}

/*Especificidad (0,1,4)*/
body > section > nav a:hover {
    /*ADVERTENCIA: El color de primer plano lo hereda del selector nav a*/
    background-color: #148700;
}

/*Especificidad (0,1,1)*/
section[data-topic="meteorologia"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}

/*Especificidad (0,1,2)*/
section[data-topic="meteorologia"] h3 {
    width: 100%;
}

/*Especificidad (0,1,2)*/
section[data-topic="meteorologia"] button {
    width: 100%;
    padding: 1em;
}

/*Especificidad (0,1,3)*/
section[data-topic="meteorologia"] article h4{
    background-color: #122620;
    color:#ffffff;
    padding: 1em;
}